PORT=5000
MONGODB_URI=mongodb+srv://muruganandhamm7639:8PqDNvNTo2GojCif@cluster0.hlroj.mongodb.net/EmployeeDB?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=BFFqIoK0y-FNjiKMHjPQYywSol_nS4sgm5cwicLdzvg
